
@import url('https://fonts.googleapis.com/css?family=El+Messiri');

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'El Messiri', sans-serif;
  background: #444444;
}

#header {
  background: url(https://i.imgur.com/ZmrjWRm.jpg) no-repeat center top;
  background-size: cover;
  position: fixed;
  height: 90%;
  bottom: 10%;}
